<div>
    <h3>Editar Produto</h3>
  </div>
  <form class="example-container" [formGroup]="produtoForm" (ngSubmit)="updateProduto(produtoForm.value)">
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome do Produto" formControlName="nome">
    </mat-form-field>

     <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select [(value)]="selectedOption"  matInput name="categoria" formControlName="categoria" >
            <mat-option *ngFor="let itemCategoria of dsCategoria" [value]="itemCategoria">
              {{itemCategoria.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>

    <mat-form-field>
        <input matInput name="descricao" placeholder="Descrição do Usuario" formControlName="descricao">
      </mat-form-field>
    <mat-form-field>
      <input matInput name="cor" placeholder="Cor do Produto" formControlName="cor">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="preco" placeholder="Preço do Produto" formControlName="preco">
      </mat-form-field>

    <button type="submit" [disabled]="!produtoForm.valid" mat-button color="primary" >Editar</button>
  </form>
