<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <button mat-flat-button color="accent" [routerLink]="['/usuarios']"><mat-icon>list</mat-icon> Voltar</button>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{usuario.nome}}</mat-card-title>
        <mat-card-subtitle>{{usuario.setor.nome}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <label>E-mail:</label>
        <label>{{usuario.email}}</label>
          
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="teste" [routerLink]="['/usuario-editar', usuario.id]"><mat-icon>edit</mat-icon> Editar</button>
        <button mat-flat-button color="warn" (click)="deleteUsuario(usuario.id)"><mat-icon>delete</mat-icon> Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
